/*
    Document   : ame
    Created on : Jun 28, 2013, 7:02:34 PM
    Author     : dferreira
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

.container {
    background: url("../images/field.png") no-repeat;
    width: 880px;
    height: 640px;
    position: relative;
    float: left;
}



.player {
    background: url("../images/stickman_running.gif") no-repeat;
    width: 23px;
    height: 25px;
    /*top: 450px;*/
    /*position: relative;*/
    float: left;

}